/* class from line 147 to line 244*/

.off-canvas-list li.has-children>ul {
	display: none
}

.off-canvas-list li.has-children>a:first-child {
	width: calc(100% - 40px);
	border-right: 1px solid #f6f5f5;
	margin-right: 2.5rem
}

.off-canvas-list li.has-children>a:first-child:after {
	position: absolute;
	content: '';
	right: -2px;
	background: #dad8d6;
	top: -1px;
	bottom: 0;
	width: 1px
}

.off-canvas-list ul.children li.has-children>a:first-child:after {
	background: #bab1ac
}

.off-canvas-list ul.children {
	background-color: #dbd8d6;
	border-top: 1px solid #a69d97;
	margin-left: 0
}

.off-canvas-list ul.children li {
	border-bottom-color: #bab1ac
}

.off-canvas-list ul.children li.open {
	border-bottom: none
}

.off-canvas-list ul.children a {
	border-top-color: #edecea
}

.off-canvas-list ul.children li.has-children>a:first-child:after {
	background: #bab1ac
}

.off-canvas-list ul.children ul.children {
	border-top-color: #70635a;
	background-color: #c9c5c1
}

.off-canvas-list ul.children ul.children li {
	border-bottom-color: #a69d97
}

.off-canvas-list ul.children ul.children a {
	border-top-color: #edecea
}

.off-canvas-list ul.children ul.children ul.children {
	border-top-color: #70635a;
	background-color: #b7b1ad
}

.off-canvas-list ul.children ul.children ul.children li {
	border-bottom-color: #70635a
}

.off-canvas-list ul.children ul.children ul.children a {
	border-top-color: #e7e4e2
}

.title span[itemprop],
h1 span[itemprop],
h2 span[itemprop],
h3 span[itemprop],
h4 span[itemprop],
h5 span[itemprop] {
	font-family: BentonSansBold, Helvetica, Arial, sans-serif
}

.ticker .title span[itemprop] {
	font-family: BentonSansRegular, 'Arial Narrow', Arial, sans-serif;
	font-weight: 400
}

.feed-item--small.event .meta-time,
.feed-item--small.event [itemprop=startDate],
.feed-item--small.event [itemprop=endDate],
[class^=lw_widget] .feed-item--small .meta-time,
[class^=lw_widget] .feed-item--small [itemprop=startDate],
[class^=lw_widget] .feed-item--small [itemprop=endDate] {
	text-transform: lowercase
}

.meta [itemprop=endDate],
.meta [itemprop=startDate] {
	color: inherit
}


/*from line 282 to 323*/

#nav-main .last>a,
.form-item-group.inline .discount::before {
	font-family: BentonSansBold, Arial, sans-serif;
	font-weight: 400
}